* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

.container {
    display: flex;
    min-height: 100vh;
}




/* REGISTER STYLES */
.form-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.image-area {
    flex: 1;
}

#register-form, #login-form {
    padding: 15px;
    width: 400px;
    height: 500px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#register-form label, #login-form label {
    display: block;
}

#register-form input, #login-form input {
    padding: 10px;
    width: 100%;
}

#register-form button, #login-form button {
    padding: 15px;
}

#register-form button, #register-form .form-item, #login-form button, #login-form .form-item {
    width: 100%;
}


/* SIDEBAR, CONTENT STYLES */
.sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    padding: 15px;
    gap: 2rem;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1rem;
    flex-grow: 1;
}

.nav-item {
    padding: 5px;
    display: flex;
    gap: 1rem;
}

.nav-item:hover {
    background-color: gray;
    color: white;
}

.content {
    flex-grow: 1;
}

.sidebar-footer button {
    padding: 15px;
    width: 100%;
}

.sidebar-footer button:hover {
    background-color: gray;
    color: white;
}