* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

.container {
    display: flex;
    min-height: 100vh;
}

.container > * {
    flex: 1;
}




/* REGISTER STYLES */
.form-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

#register-form, #login-form {
    padding: 15px;
    width: 400px;
    height: 500px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#register-form label, #login-form label {
    display: block;
}

#register-form input, #login-form input {
    padding: 10px;
    width: 100%;
}

#register-form button, #login-form button {
    padding: 15px;
}

#register-form button, #register-form .form-item, #login-form button, #login-form .form-item {
    width: 100%;
}